# .env.template
# Copy this file to .env and fill in your secrets

DATABASE_URL=sqlite:///data/foo.db
GOOGLE_API_KEY=AIzaSyEXAMPLEKEY1234567890
CHUNK_SIZE=4000
CHUNK_OVERLAP=200
TEXT_EMBEDDING_MODEL=models/gemini-embedding-001
GENERATIVE_AI_MODEL=gemini-2.5-flash
DEBUG_MODE=FALSE
